
<div class="container mt-4">
  <h1>Welcome to Angular</h1>
  <p>{{title}}</p>
  <button class="btn btn-primary" (click)="modifyTitle()">Click me</button>
  <button class="btn btn-secondary mx-4" (click)="clear()">Clear</button>
  <input [(ngModel)]="name" type="text" class="form-control my-3" style="width: 50%;">
  <p>{{name}}</p>
  
  <h1 *ngIf="isDisabled">Testing</h1>
  
  <select class="form-select" aria-label="Default select example" style="width: 50%">
    <option selected>[Select]</option>
    <option *ngFor="let taxYear of taxYears" value="taxYear">{{taxYear}}</option>
  </select>

  <app-project></app-project>
  
</div>
